.App {
    text-align: center;

    &-logo {
        height: 20vmin;
        pointer-events: none;
    }

    &-header {
        //background-color: #e75f1a;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: calc(10px + 2vmin);
    }

    &-input {
        width: 18rem;
        height: 3rem;
        padding: .5rem 1rem;
        box-sizing: border-box;
        border-radius: 2rem;
        border: none;
        background-color: yellow;
    }

    &-button {
        padding: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 5rem;
        border: none;
        color: #fff;
        background-color: green;
    }


    &-list {
        display: flex;
        font-size: 1rem;
        color: #ffa2af;
        list-style: none;
        &-item {
            margin-right: 1rem;
            padding: 1rem;
            background-color: #d2016c;
            border-radius: 2rem;
        }
    }

    &-link {
        color: #61dafb;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
