
.menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;

  &-slide {
    position: absolute;
    top: 7rem;
    right: -30rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    transition: .3s all ease;

    &.show {
      right: 2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
    }

    li {
      width: 15rem;
    }

    button {
      padding: .5rem 1rem;
      width: 100%;
      border: 0;
      border-radius: 1rem;
      background: rgba(255,255,255,.2);
      text-align: center;
      cursor: pointer;
    }

    input {
      width: 100%;
      padding: 0;
      border: 0;
      cursor: pointer;

      &[type="text"] {
        text-indent: .5rem;
        height: 2.5rem;
      }

      &[type="color"] {
        height: 5em;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: none;
      }
    }
  }
}