.addBtn {
  display: block;
  margin: -3rem auto 0;
  padding: 1rem;
  border: 0;
  border-radius: 50%;
  color: #fff;
  background: #30d49e;
  line-height: 0.6;
  font-size: 4rem;
  cursor: pointer;
  transition: .3s all ease;

  &.x {
    transform: rotate(45deg);
    background: #fd8586;
  }
}

.form {
  overflow: hidden;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: .3s all ease;

  &.show {
    opacity: 1;
  }

  button {
    padding: 1rem 2rem;
    border: 0;
    color: #30d49e;
    background: inherit;
    cursor: pointer;
    font-size: 2rem;
  }
}

.list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;

    &:hover button {
      opacity: 1;
    }
  }
  .input-wrap {
    display: flex;
    align-items: center;
  }
  .checkLabel {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding: .5rem;
    border: 1px solid #30d49e;
    border-radius: 50%;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;

    &:checked ~ .checkLabel:after {
      content: '✓';
      position: absolute;
      left: 23%;
      top: 54%;
      font-size: 2rem;
      color: #30d49e;
      line-height: 0;
    }

    &:checked ~ label {
      color: dimgrey;
      text-decoration: line-through;
    }
  }
  button {
    opacity: 0;
    padding: 0;
    border: 0;
    color: dimgrey;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
  }
}