.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 59rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.todo {
  width: 100%;
  padding: 3rem;
  background: #fff;
  border-radius: 2rem;
}